canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    padding-left: 0;
    padding-right: 0;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#key{
    padding:25px;
    margin:7px;
    border-radius: 10px;
}

.topSpacing {
    margin-bottom: 50px;
}

.pressed_a{
    box-shadow: 0 10px 10px 0 #00FFFF;
    background-color: red;
    opacity: 0.7;
}

.pressed_s{
    box-shadow: 0 10px 10px 0 #00FFFF;
    background-color: blue;
    opacity: 0.7;
}

.pressed_d{
    box-shadow: 0 10px 10px 0 #00FFFF;
    background-color: green;
    opacity: 0.7;
}

.pressed_f{
    box-shadow: 0 10px 10px 0 #00FFFF;
    background-color: yellow;
    opacity: 0.7;
}

.pressed_g{
    box-shadow: 0 10px 10px 0 #00FFFF;
    background-color: purple;
    opacity: 0.7;
}
